@charset "utf-8";

/* CSS Document  Reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, input, button, p, img {
	margin: 0;
	padding: 0;
}
body {
	font: normal 14px 'Microsoft Yahei', Arial, Verdana, Geneva, sans-serif;
}
input, button {
	outline: none;
}
input:focus {
	outline: none;
}
a {
	text-decoration: none;
}
form, fieldset, input, textarea, select {
	font: normal 14px 'Microsoft Yahei', Arial, Verdana, Geneva, sans-serif;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol, ul {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
ul, li {
	list-style: none;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.cf:after {
	display: block;
	content: '';
	clear: both;
}
.cf {
	zoom: 1;
}

/*===beigin====*/
.outLook {
	background-color: #000;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 3000px;
	opacity: 0.5;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
}
// html, body {
// 	position: relative;
// }
.outLook {
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
	position: fixed;
	_position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
}
.outLook i {
	width: 30px;
	height: 30px;
	background: url(../images/failed.png) no-repeat;
	_position: absolute;
	position: fixed;
	right: 50%;
	top: 50%;
	z-index: 10;
}
.innerLook {
	width: 350px;
	background: #fff;
	position: fixed;
	_position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1001;
}
.innerLook h3 {
	height: 46px;
	background: #ff726c;
	font-size: 16px;
	line-height: 46px;
	text-align: center;
	color: #fff;
}
.innerLook p {
	display: block;
	text-align: center;
	font-size: 18px;
	color: #333;
    margin: 30px;
}
.btnBox {
	width: 80%;
	height: 36px;
	margin: 0 10% 30px;
}
.btnFalse, .btnTure {
	border-radius: 4px;
	font-size: 14px;
}
.innerLook .btnFalse {
	background: #f8f8f8;
	color: #333;
	margin-right: 20px;
	border: 1px solid #ccc;
}
.btnTure {
	background: #eb3030;
	color: #fff;
}
.btnBox button {
	cursor: pointer;
	outline: none;
	border: none 0;
	width: 45%;
	height: 36px;
	line-height: 36px;
	text-align: center;
}
.BtnClose {
	position: absolute;
	top: -20px;
	right: -20px;
	cursor: pointer;
}